.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: #fff;
  /* border-top: 2px solid #ddd; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  box-shadow: 0px -2px 4px rgba(0,0,0,0.25); /* x-offset y-offset blur-radius spread color */
}

.nav-item {
  text-decoration: none;
  color: #525B62;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 0.75rem;
  font-family: "Pretendard Variable";
  font-weight: 600;
  line-height: 24px; /* 240% */
  letter-spacing: -0.1px;
  width: 20%;
  margin-top: 8px;
}

.nav-item .icon {
  font-size: 1.3rem;
}

.nav-item.active {
  color: #018CF1; /* 파란색 활성 표시 */
}
