.intro-screen {
  width: 100%;
  height: 100vh;               /* 화면 전체 높이 */
  display: flex;               /* flexbox 사용 */
  justify-content: center;     /* 가로 중앙 */
  align-items: center;         /* 세로 중앙 */
  background-color: #018CF1;   /* 인트로 배경색 */
}

.meomum_logo {
  width: 37vw;   /* 화면 너비의 20% */
  height: auto;  /* 자동 비율 유지 */
  max-width: 200px; /* 너무 커지지 않도록 제한 */
  min-width: 100px; /* 너무 작아지지 않도록 제한 */
}