/* .intro-bg { 
  background-color: #018CF1; 
  transition: background-color 0.5s; }

.main-bg { 
  background-color: #242424; 
  transition: background-color 0.5s; }

.intro-bg,
.main-bg {
  width: 100vw;
  height: 100vh;
  transition: background-color 0.5s;
} */